{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Query Drugs{% endblock title %}
{% block all %}
    <div class="buttons">
        <button class="query-button">Query Drug Data</button>
        <button class="analytics-button">Perform Data Analytics</button>
    </div>
    <div class="search-boxes" style="display: none;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}
            <input type="submit" class="btn btn-primary" placeholder="Search Drugs" value = "Submit Drug Search">
        </form>
    </div>
    <div>
        <script>
            document.querySelector('.query-button').addEventListener('click', function (event) {
                event.preventDefault();
                console.log("Button clicked");
                document.querySelector('.search-boxes').style.display = 'block';
            });
        </script>
    </div>
{% endblock all %}
